overwrite: true
schema: 
  - ${HASURA_ENDPOINT}:
      headers:
        x-hasura-admin-secret: ${HASURA_TOKEN}
documents: "app/**/*.graphql"
generates:
  app/generated/graphql.server.ts:
    plugins:
      - "typescript"
      - "typescript-operations"
      - "typescript-document-nodes"
      - "fragment-matcher"
      - "typescript-graphql-request"
